/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


$primary-color: #67ceeb;
$primary-color-dark: #5ed6f8;
$dark-bg: #2f3744;
$main-font: 'Raleway', sans-serif;
$standard-spacing: .5px;
$standard-line-height: 1.5;
$header-color: #777;
$body-color: #777;
$section-padding: 140px;
$btn-transition: 0.2s;

body{
	height: 100%;
	background: $dark-bg;
}

h1, h2, h3, h4, h5, p, a, ol li,ul li,li{
	font-family: $main-font;
	font-weight: 400;
	line-height: $standard-line-height;
	color: $header-color;
}

p, ol li, h3,input, textarea, label{
	color: $body-color;
	font-size: 17px;
	letter-spacing: $standard-spacing;
}

a, a:hover{
	color: $primary-color;
	font-weight: 400;

}

.btn, .btn:hover, .btn:focus{
	color: #fff;
	border-radius: 4px;
	padding: 16px 50px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: $standard-spacing;
	box-shadow: none;
	background: $primary-color;
	-webkit-transition: all $btn-transition ease;
		-moz-transition: all $btn-transition ease;
		-o-transition: all $btn-transition ease;
		transition: all $btn-transition ease;
}

.btn:hover{
	background:$primary-color-dark;
	-webkit-transition: all $btn-transition ease;
		-moz-transition: all $btn-transition ease;
		-o-transition: all $btn-transition ease;
		transition: all $btn-transition ease;
}




input, textarea{
	width: 100%;
	padding: 22px 0;
	border:1px #ddd solid;
	border-radius: 4px;
	padding-left: 20px;
	margin-top: 20px;
	letter-spacing: 1.2px;
	font-size: 16px;
	font-family: $main-font;
}


textarea{
	height: 150px;
	padding: 20px;
	resize: none;
	font-family: $main-font;
}


input[type="submit"],  input[type="submit"]:hover, input[type="submit"]:focus{
	color: #fff;
	border: none;
	background-color: $primary-color;
	padding: 22px 0;
	font-weight: 500;
	font-size: 16px;
	margin-top: 40px;
	border-radius: 4px;
	font-family: $main-font;
	-webkit-transition: all $btn-transition ease;
		-moz-transition: all $btn-transition ease;
		-o-transition: all $btn-transition ease;
		transition: all $btn-transition ease;
}
input[type="submit"]:hover, input[type="submit"]:focus{
	background: $primary-color-dark;
	-webkit-transition: all $btn-transition ease;
		-moz-transition: all $btn-transition ease;
		-o-transition: all $btn-transition ease;
		transition: all $btn-transition ease;
	}

.carousel{
	position: absolute;
	z-index: -100;
	height: 100%;
	width: 100%;
	.carousel-inner{
		width: 100%;
		height: 100%;
		.item{
			width: 100%;
			height: 100%;

			.bg{	
				height: 100%;
				width: 100%;
				
				
			}
			.bg1{
				background: url(../img/bg-1.jpg);
				background-size: cover; 
				background-position: center; 
			}
			.bg2{
				background: url(../img/bg-2.jpg);
				background-size: cover; 
				background-position: center; 
			}
			.bg3{
				background: url(../img/bg-3.jpg);
				background-size: cover; 
				background-position: center; 
			}

		}
	}
	
}


.intro{
	height: 100vh;
	.logo{
		position: absolute;
		width: 100%;
		padding-top: 40px;
		color: #fff;
		font-size: 22px;
		text-align: center;
	}
	.btn-container{
		height:100%;
		.btn{
			bottom: 35%;
		    position: absolute;
		    left: 50%;
		    transform: translateX(-50%);
		}
	}
	.intro-inner{
		text-align: center;
		position: absolute;
		margin-top: -40px;
	    width: 100%;
	    left: 0;
	    top: 50%;
	    transform: translateY(-50%);
		h1{
			font-size: 68px;

		}
		p{
			font-size: 26px;
			margin-bottom: 60px;

			
		}
		h1, p{
			color: #fff;
			letter-spacing: 2px;
		}
		
	}
}

.form-section{
	padding: $section-padding 0;
	background: #fff;
	p{
		font-size: 18px;
		letter-spacing: 1.2px;
		text-align: center;
		padding-bottom: 20px;
	}
	form{
		margin-top: 60px;
	}
	.checkbox {
		input[type=checkbox]{
			margin-left: -30px;
		}
		label{
			padding-left: 30px;
			margin-top: 20px;
			font-size: 16px;
		}
	}
	.thanks{
		color: $primary-color-dark;
		font-size: 24px;
		margin-top: 40px;
		display: none;
	}


}

.footer{
	padding: 80px 0;
	background: $dark-bg;
	p{
		color: #fff;
		opacity: .8;
		font-size: 12px;
	}
}





@media (max-width: 992px){
	
}

@media (max-width: 768px){
	.carousel{
	.carousel-inner{
		.item{
			.bg1{
				background-position: 60% 0;
			}
			.bg2{
				background-position: 80% 0;
			}
			.bg3{
			
			}

		}
	}
	
}
	.intro{
		
		.intro-inner{
			h1{
				font-size:40px;
			}
			p{
				font-size: 18px;
			}
		}
	}
	.form-section{
		padding: 100px 0;
	}
}

